@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  gap: 1.3rem;
  padding: 1.2rem;
  box-shadow: 0 0.2rem 0.2rem rgb(208, 208, 207);
  list-style: none;
}
.header__logo {
  width: 8.5rem;
  list-style: none;
}
.header__textItem {
  font-size: 2rem;
  white-space: nowrap;
}
.header__textItem:hover {
  color: #37363a;
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
  color: #0E7A0D;
}
.header__searchbar {
  background-color: #bfbbbb;
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 50%;
  padding: 1.2rem;
  border-radius: 10rem;
  gap: 1.2rem;
  box-shadow: 0 0 0.2rem 0 #000000;
  border: 0.1rem solid black;
}
.header__searchbar:hover {
  cursor: pointer;
}
.header__searchbarInput {
  border: none;
  background-color: #bfbbbb;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  color: rgb(3, 3, 3);
  font-weight: 800;
}
.header__searchbarInput:focus {
  outline: none;
}
.header__shoppingCart {
  font-size: 155%;
}
.header__shoppingCart:hover {
  color: green;
  transition: 0.3s;
  transform: scale(1.1);
}
.header__iconCart {
  font-size: 130%;
}
.header__iconGlobe {
  font-size: 190%;
  background: #fff;
  border: 1px solid #000000;
  padding: 0 1.3rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.header__iconGlobe:hover {
  cursor: pointer;
  background-color: green;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0 green;
}
.header__wrapper {
  display: flex;
  gap: 1.4rem;
}
.header__login {
  text-align: center;
  text-decoration: none;
  background: white;
  border: 0.1rem solid #000000;
  padding: 0 1.4rem;
  height: 4rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__login:hover {
  background: yellow;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0 yellow;
}
.header__signIn {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #202020;
  border: 1px solid black;
  padding: 0 1.4rem;
  height: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.header__signIn:hover {
  background: darkred;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0 darkred;
}

.container {
  max-width: 170rem;
  margin: auto;
}

.footer {
  background-color: #202020;
  padding: 7rem 0;
}
.footer__ul {
  list-style: none;
}
.footer__col {
  width: 25%;
  padding: 0 1.5rem;
}
.footer__h4 {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  position: relative;
}
.footer__h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  background-color: #0E7A0D;
  height: 0.2rem;
  box-sizing: border-box;
  width: 5rem;
}
.footer__ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__ul > li > a {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-family: "Dosis", sans-serif;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer__ul > li > a:hover {
  color: #fff;
  margin-left: 1rem;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.language__selectotr {
  box-sizing: border-box;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 0rem;
  margin-left: 175rem;
  margin-top: 0rem;
  order: 1;
  padding-bottom: 2.4rem;
}

.icon__button {
  padding: 1rem;
}

.language__button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  list-style: none;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  justify-content: flex-start;
  line-height: 22.4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 140px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  position: relative;
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}

.end__text {
  font-weight: 200;
  margin-left: 1.7rem;
}

.language__selectotr > i {
  color: #0E7A0D;
  margin-bottom: 1.2rem;
  font-size: 5rem;
  margin-left: 3.9rem;
}

@media only screen and (max-width: 60rem) {
  .footer__col {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5rem;
  }
}
.firstSection {
  width: 95%;
  display: flex;
  justify-content: center;
}
.firstSection__section {
  display: flex;
  justify-content: center;
  max-width: 140rem;
  margin-bottom: 4.8rem;
}
.firstSection__banner {
  width: 130rem;
  padding-top: 11rem;
  padding-left: 8rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstSection__text {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  padding: 2.4rem;
  left: 10rem;
  top: 22rem;
  max-width: 40rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0E7A0D;
}
.firstSection__h2 {
  font-size: 3.2rem;
  font-family: "Fredoka One";
}
.firstSection__p {
  font-size: 1.9rem;
}

.secondSection {
  width: 100%;
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 2.4rem;
}
.secondSection__h2 {
  font-size: 2.5rem;
}
.secondSection__p {
  font-size: 1.8rem;
  margin: 1.5rem 0 0;
}
.secondSection__gameNames {
  display: flex;
  list-style: none;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #808080;
}
.secondSection__gamebox {
  display: block;
  margin-bottom: 3.5rem;
  border: 0.2rem solid #5c6266;
  border-radius: 2rem;
  padding: 10rem;
  padding-top: 2.5rem;
  padding-left: 5rem;
}

.gamebox__title {
  font-size: 2.4rem;
}

.gamebox__info {
  overflow: hidden;
  margin-bottom: 2rem;
  max-width: 80rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.gamebox__btn {
  background-color: transparent;
  border: 0.2rem solid #1A1A1A;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  min-height: 6rem;
  outline: none;
  padding: 1.7rem 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
  width: 20rem;
  will-change: transform;
}

.gamebox__btn:disabled {
  pointer-events: none;
}

.gamebox__btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.gamebox__btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.gamebox__sorten {
  padding: 5rem;
  text-align: justify;
  width: 120rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem dotted rgb(66, 66, 67);
  margin-left: 36rem;
  padding-bottom: 10rem;
  border-radius: 2rem;
}

.gamebox__sorten__figureWrapper {
  display: flex;
  gap: 8rem;
  width: 100rem;
  height: 10rem;
}

.gamebox__sorten__icon {
  font-size: 4rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.gamebox__sorten__textWrapper {
  box-shadow: 0 0 1rem 0 black;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: rgba(226, 225, 225, 0.968627451);
  color: #000000;
}

.componet__container {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 15rem;
  margin-left: 29rem;
  margin-right: 29rem;
  margin-top: 15rem;
  max-width: 130rem;
  padding-bottom: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 3.2rem;
  width: 130rem;
}
.componet__partners {
  align-items: center;
  box-sizing: border-box;
  color: rgb(28, 29, 31);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}
.componet__heading {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 3.2rem;
  max-width: 60rem;
  text-align: center;
}

.partners__logo {
  align-self: normal;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  line-height: 2.24rem;
}

@media only screen and (max-width: 60rem) {
  .partners__logo {
    display: flow-root;
    margin-right: 90rem;
  }
  .partners__logo__item {
    width: 100%;
    height: 100%;
  }
  .componet__heading {
    display: none;
  }
  .componet__heading__text {
    display: none;
  }
}
.category__container {
  max-width: 170rem;
  margin: auto;
}

.category__mid {
  background: #fff;
  padding-left: 1rem 0;
}
.category__mid__ul {
  list-style: none;
}
.category__mid__col {
  width: 25%;
  padding: 0 1.5rem;
  margin-bottom: 10rem;
}
.category__mid__h4 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  position: relative;
}
.category__mid__h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  background-color: #d46f09;
  height: 0.2rem;
  box-sizing: border-box;
  width: 5rem;
}
.category__mid__ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
.category__mid__ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
.category__mid__ul > li > a {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
  color: #757474;
  display: block;
  transition: all 0.3s ease;
}
.category__mid__ul > li > a:hover {
  color: rgb(198, 21, 21);
  margin-left: 1rem;
}

.category__row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 60rem) {
  .category__mid__col {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5rem;
  }
}
.thirdSection__figureWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 6.4rem;
  position: relative;
  max-height: 50vh;
  padding: 2.4rem;
}
.thirdSection__itemWrapper {
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #1c1d1f;
  display: flex;
  gap: 1.5rem;
}
.thirdSection__icon {
  font-size: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdSection__textWrapper {
  height: 30rem;
  width: 28.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  color: #f5f6f8;
  font-size: 3rem;
  background-size: cover;
}

.thirdSection__infoText {
  width: 50rem;
  height: 5rem;
  margin-top: 10rem;
  padding-left: 8rem;
  font-size: 4rem;
}

.thirdSection__itemWrapper1 {
  height: 30rem;
  width: 28.8rem;
  box-shadow: 0 0 5rem 4rem rgba(49, 49, 49, 0.6901960784);
  border-radius: 2rem;
  background-image: url(/img/ezgif.com-gif-maker\ \(5\).webp);
  background-size: cover;
  background-position: center;
  transition: 1s;
}

.thirdSection__itemWrapper1:hover {
  transform: scale(1.2);
}

.thirdSection__itemWrapper2 {
  height: 30rem;
  width: 28.8rem;
  box-shadow: 0 0 5rem 4rem rgba(218, 75, 14, 0.5647058824);
  border-radius: 2rem;
  background-image: url(/img/ezgif.com-gif-maker\ \(2\).webp);
  background-size: cover;
  transition: 1s;
}

.thirdSection__itemWrapper2:hover {
  transform: scale(1.2);
}

.thirdSection__itemWrapper3 {
  height: 30rem;
  width: 28.8rem;
  box-shadow: 0 0 4rem 4rem rgba(184, 93, 206, 0.6901960784);
  border-radius: 2rem;
  background-image: url(/img/ezgif.com-gif-maker\ \(3\).webp);
  background-size: cover;
  background-position: center;
  transition: 1s;
}

.thirdSection__itemWrapper3:hover {
  transform: scale(1.2);
}

.thirdSection__itemWrapper4 {
  height: 30rem;
  width: 28.8rem;
  border-radius: 2rem;
  box-shadow: 0 0 5rem 4rem rgba(171, 3, 3, 0.5294117647);
  background-image: url(/img/ezgif.com-gif-maker\ \(6\).webp);
  background-size: cover;
  background-position: center;
  transition: 1s;
}

.thirdSection__itemWrapper4:hover {
  transform: scale(1.2);
}

.thirdSection__itemWrapper5 {
  height: 30rem;
  width: 28.8rem;
  box-shadow: 0 0 5rem 4rem rgba(120, 74, 4, 0.6117647059);
  border-radius: 2rem;
  background-image: url(/img/tomb.webp);
  background-size: cover;
  background-position: center;
  font-weight: 500;
  transition: 1s;
}

.thirdSection__itemWrapper5:hover {
  transform: scale(1.2);
}

.stars {
  color: gold;
  font-size: 2rem;
  padding: 1rem;
  padding-left: 7rem;
}

.stars > h1 {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  padding-left: 3.9rem;
}

.fourthSection {
  width: 100%;
  max-width: 135rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.fourthSection__homeText {
  font-size: 5rem;
  padding-top: 15rem;
  margin-left: 9rem;
  font-weight: 500;
}

.collections {
  width: 100%;
  padding: 3rem;
}

.collectionsList {
  list-style: none;
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.collectionsListItem {
  width: 15rem;
  height: 20rem;
  background-size: cover;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 5rem;
  padding: 3.2rem;
}

.collectionsListItem > img {
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.collectionsListItem > h2 {
  padding-top: 3rem;
  padding-left: 4.2rem;
}

@media only screen and (max-width: 60rem) {
  .thirdSection__figureWrapper {
    flex-wrap: wrap;
    max-height: 100%;
    gap: 5rem;
  }
  .gamebox__sorten {
    background-color: white;
    box-shadow: none;
    margin-top: 8rem;
    margin-left: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10rem;
    border: none;
  }
  .gamebox__sorten__figureWrapper {
    flex-direction: column;
    max-height: 100%;
    margin-right: 80rem;
    width: 40%;
    margin-bottom: 27rem;
    gap: 10rem;
  }
  .gamebox__sorten__itemWrapper {
    flex-direction: column;
    max-height: 100%;
  }
  .header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header__searchbar {
    display: none;
  }
  .firstSection__text {
    margin-top: 20rem;
    margin-right: 18rem;
  }
}
.about2 {
  width: 100%;
  height: 50rem;
  padding: 6.25rem 0rem;
}

.about2 img {
  max-height: auto;
  width: 40%;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px 1px white;
}

.about-text2 {
  width: 34.375rem;
}

.main2__about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-text2 h2 {
  color: rgb(3, 39, 139);
  font-size: 4.6875rem;
  margin-bottom: 1.25rem;
}

.about-text2 h5 {
  color: rgb(209, 118, 15);
  letter-spacing: 0.125rem;
  font-size: 2.3rem;
  margin-bottom: 1.5625rem;
}

.about-text2 li {
  color: rgb(1, 0, 1);
  letter-spacing: 0.0625rem;
  line-height: 1.75rem;
  font-size: 1.5rem;
  margin-bottom: 2.8125rem;
}

.talk2 {
  background-color: #d5550c;
  color: black;
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-size: bold;
  padding: 0.8125rem 1.875rem;
  border-radius: 1.875rem;
  margin-bottom: 20rem;
}

.talk2:hover {
  background-color: transparent;
  border: 0.125rem solid #0046eb;
  cursor: pointer;
}

---------------- .about {
  width: 100%;
  height: 50rem;
  padding: 6.25rem 0rem;
}

.about img {
  height: auto;
  width: 40%;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px 1px white;
}

.about-text {
  width: 34.375rem;
}

.main__about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-text h2 {
  color: rgb(3, 139, 10);
  font-size: 4.6875rem;
  margin-bottom: 1.25rem;
}

.about-text h5 {
  color: rgb(209, 118, 15);
  letter-spacing: 0.125rem;
  font-size: 2.3rem;
  margin-bottom: 1.5625rem;
}

.about-text li {
  color: rgb(1, 0, 1);
  letter-spacing: 0.0625rem;
  line-height: 1.75rem;
  font-size: 1.5rem;
  margin-bottom: 2.8125rem;
}

.talk {
  background-color: #d5550c;
  color: black;
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-size: bold;
  padding: 0.8125rem 1.875rem;
  border-radius: 1.875rem;
  margin-bottom: 20rem;
}

.talk:hover {
  background-color: transparent;
  border: 0.125rem solid #0046eb;
  cursor: pointer;
}

------------------- .about3 {
  width: 100%;
  height: 50rem;
  padding: 6.25rem 0rem;
}

.about3 img {
  height: auto;
  width: 28%;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px 1px white;
}

.about-text3 {
  width: 34.375rem;
  margin-top: 12rem;
}

.main__about3 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-text3 h2 {
  color: rgb(242, 235, 27);
  font-size: 4.6875rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  background-color: #d5550c;
  padding: 1rem;
}

.about-text3 h5 {
  color: rgb(209, 118, 15);
  letter-spacing: 0.125rem;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.about-text3 li {
  color: rgb(1, 0, 1);
  letter-spacing: 0.0625rem;
  line-height: 1.75rem;
  font-size: 1.5rem;
  margin-bottom: 2.8rem;
}

.talk3 {
  background-color: #e7e30f;
  color: black;
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-size: 1.5rem;
  padding: 0.8rem 1.8rem;
  border-radius: 1.8rem;
  margin-bottom: 20rem;
}

.talk3:hover {
  background-color: transparent;
  border: 0.1rem solid #0046eb;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
