$backgroundColor: #4649FF;

$fontVars: (
    "color": #000000,
    "fancyFont": 'Fredoka One', 'cursive'
    "SansFont": 'Open Sans',
);
$tasksVars: (
    "background":#DDDDDD,
    "specialFontColor": #eee,
    "listItemColor": #ECECEC
);